   
.paragraph{
	color:$color-light;
	font-size: 1.4rem;
	text-align: justify;

	&--blue{
		color:$color-primary;
	}

}

.paragraph-red{
	color:red;
	font-size: 1.4rem;
	text-align: justify;

}

.heading-1{
	color:$color-back;
	font-size: 3vw;
	font-family: $font-primary;

	&--blue{
		color:$color-primary;
	}
}

.heading-2{
	color:$color-light;
	font-size: 2rem;
	font-family: $font-primary;
}

.heading-3{
	color:$color-primary;
	font-size: 2rem;
	font-family: $font-primary;
	font-weight: 100;
}