
.btn{

  &, 
 &:link,
 &:visited {

 text-transform: uppercase;
 text-decoration: none;
 padding: 1rem 1rem;
 border-radius: 3rem;  
 font-size: 1.3rem;
 background-color: $color-primary;
 color:$color-back;
 text-align: center;
 cursor: pointer;
 border : 1px solid $color-back;

 @media only screen and (max-width: $bp-small) {
			font-size: 1rem;
	}

 }

 &:hover {
  
  background-color: $color-secondary;
  color:$color-back;
  
 }

}