<template>
	<div class="add_comment">
            <button v-on:click="seen = !seen" class="add_comment__btn btn">Ecrire un avis</button>
            <div class="add_comment__form" v-if="seen">
            <form @submit.prevent="commentStore">
                <div class="form-group">
                    <label for="pseudo">Votre Pseudo</label>
                    <input type="text" class="form-control form-control-lg" name="pseudo" v-model="form.pseudo">
                    <p class="paragraph-red" v-if="errors.pseudo">{{ errors.pseudo[0] }}</p>
                </div>
                <div class="form-group">
                    <label for="email">Votre Email</label>
                    <input type="email" class="form-control form-control-lg" name="email" v-model="form.email">
                    <p class="paragraph-red" v-if="errors.email">{{ errors.email[0] }}</p>
                </div>
                <div class="form-group">
                    <label for="title">Titre de votre avis</label>
                    <input type="text" class="form-control form-control-lg" name="title" v-model="form.title">
                    <p class="paragraph-red" v-if="errors.title">{{ errors.title[0] }}</p>
                </div>
                <div class="form-group">
                	<label for="content">Votre avis</label>
                	<vue-editor v-model="form.content" :editor-toolbar="customToolbar"></vue-editor>
                	<p class="paragraph-red" v-if="errors.content">{{ errors.content[0] }}</p>
                </div>
                <div class="form-group">
                    <label for="rate">Votre vote</label>
                    <select class="form-control form-control-lg" name="rate" v-model="form.rate">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <p class="paragraph-red" v-if="errors.rate">{{ errors.rate[0] }}</p>
                </div>
                <button type="submit" class="btn">Publier</button>
            </form>
            </div>
        </div>
</template>
<script>

    export default {
 
         data() {

            return {

					seen : false,
					file : "",

					form :{
					pseudo:"",
					email:"",
                    title : "",
                    content : "",
                    rate: "",
                 

                	},

                	errors : {},

                	customToolbar: [
      				["bold", "italic", "underline"],
      				[{ list: "bullet" }],
    				],

            }

        },

        methods: {
        	
        	commentStore(){
        		axios.post('/storeComment', this.form)
        		.then((result) => {
        			this.$emit('new-comment', result.data)
        			this.$emit('new-rate')
        			this.form.pseudo = ""
        			this.form.email = ""
        			this.form.title = ""
        			this.form.content = ""
        			this.form.rate = ""
        			this.errors = {}
        			this.seen = false
        		})
        		.catch(error => {
                    this.errors = error.response.data.errors
                })

        	}
        }
    }
</script>