<template>
	<div  class="add_comment">
            <div class="add_comment__form">
            <form @submit.prevent="update">
                <div class="form-group">
                    <label for="pseudo">Votre Pseudo</label>
                    <input type="text" class="form-control form-control-lg" name="pseudo" v-model="commentToEdit.pseudo">
                    <p class="paragraph-red" v-if="errors.pseudo">{{ errors.pseudo[0] }}</p>
                </div>
                <div class="form-group">
                    <label for="email">Votre Email</label>
                    <input type="email" class="form-control form-control-lg" name="email" v-model="commentToEdit.email">
                    <p class="paragraph-red" v-if="errors.email">{{ errors.email[0] }}</p>
                </div>
                <div class="form-group">
                    <label for="title">Titre de votre avis</label>
                    <input type="text" class="form-control form-control-lg" name="title" v-model="commentToEdit.title">
                    <p class="paragraph-red" v-if="errors.title">{{ errors.title[0] }}</p>
                </div>
                <div class="form-group">
                	<label for="content">Votre avis</label>
                	<vue-editor v-model="commentToEdit.content" :editor-toolbar="customToolbar"></vue-editor>
                	<p class="paragraph-red" v-if="errors.content">{{ errors.content[0] }}</p>
                </div>
                <div class="form-group">
                    <label for="rate">Votre vote</label>
                    <select class="form-control form-control-lg" name="rate" v-model="commentToEdit.rate">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <p class="paragraph-red" v-if="errors.rate">{{ errors.rate[0] }}</p>
                </div>
                <button type="submit" class="btn">Publier</button>
            </form>
            </div>
        </div>
        
</template>
<script>
	export default{

		props: ['commentToEdit'],

		data() {
			return{
				urlUpdate : "/updateComment/",

				errors : {},

                	customToolbar: [
      				["bold", "italic", "underline"],
      				[{ list: "bullet" }],
    				],
			}
	
		},

		methods : {
			update(){
				axios.patch(this.urlUpdate + this.commentToEdit.id, this.commentToEdit)
				.then((result) => {
        			this.errors = {}
        			this.$emit('new-update', result.data)
        		})
				.catch(error => {
                    this.errors = error.response.data.errors
                })

			}
		}

	}




</script>